@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

a {
  color: #323232;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-wrap {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 5px;
}

.body--dark__theme {
  color: #ececec;
  background-color: #262626;
}

/* Header section*/

.header-top {
  position: relative;

  min-height: 50px;
  margin: 0;
  padding: 0;
}

.header-top__theme-toggler {
  position: absolute;
  top: 15px;
  left: 20px;

  display: block;
  margin: 0;
  padding: 0;

  width: 25px;
  height: 25px;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/day.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 25px auto;
  border: none;
  outline: none;

  transition: all 0.2s linear;
  cursor: pointer;
}

.main-nav {
  position: relative;

  margin-bottom: 20px;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  top: -35px;
  right: 20px;

  display: block;
  margin: 0;
  padding: 0;

  width: 30px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.main-nav--close .main-nav__toggle::before{
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 4px;

  background-color: #323232;
  box-shadow: 0 7px 0 0 #323232, 0 14px 0 0 #323232;
}

.main-nav--close .main-nav__list{
  display: none;
}

.main-nav--open .main-nav__list{
  display: block;
}

.main-nav--open .main-nav__toggle::before,
.main-nav--open .main-nav__toggle::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 0;

  width: 30px;
  height: 4px;

  background-color: #323232;
}

.main-nav--open .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--open .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  display: block;
  padding: 5px;

  border-bottom: 2px solid #323232;
  background-color: transparent;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: rgb(243, 43, 43);
}

.main-nav__link:active {
  background-color: rgb(165, 29, 29);
}

.body--dark__theme .header-top__theme-toggler {
  background-image: url(../img/night.svg);

  transform: rotate(180deg);
}

.body--dark__theme .main-nav--close .main-nav__toggle::before {
  background-color: #ececec;
  box-shadow: 0 7px 0 0 #ececec, 0 14px 0 0 #ececec;
}

.body--dark__theme .main-nav--open .main-nav__toggle::before,
.body--dark__theme .main-nav--open .main-nav__toggle::after {
  background-color: #ececec;
  box-shadow: none;
}

/* Greeting section*/

.greeting__container {
  margin-bottom: 20px;

  text-align: center;
}

.greeting__title {
  margin: 10px 0;
  padding: 0;

  font-size: 30px;
  height: 35px;
  font-weight: 700;
}

.greeting__avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  background-image: url(../img/hello.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100px 100px;

  border-radius: 50%;
  overflow: hidden;
}

.greeting__img {
  opacity: 0;

  transition: opacity 0.2s linear;
}

.greeting__avatar:hover .greeting__img {
  opacity: 1;
}

.timer__title {
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.timer__clock {
  display: flex;
  justify-content: center;
  max-width: 480px;
  margin: 0 auto;
}

.timer__time-block {
  margin-right: 20px;
}

.timer__time-block:last-child {
  margin-right: 0;
}

.timer__time {
  margin: 0;
  margin-bottom: 1vmin;
  padding: 0;

  font-size: 9vmin;
  line-height: 11vmin;
  font-weight: 700;
}

.timer__text {
  margin: 0;
  padding: 0;

  font-size: 5vmin;
  line-height: 6vmin;
  font-weight: 700;
  text-transform: uppercase;
}

/* Skills section */

.skills {
  padding: 0 5px;
}

.skills__title {
  margin: 10px 0;
  padding: 0;

  font-weight: 700;
}

.skills__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.skills__img {
  padding-right: 10px;
}

.skills__img svg {
  fill: #67db50;
}

/* Portfolio section */

.portfolio__container {
  text-align: center;
}

.portfolio__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.portfolio__link {
  display: block;
}

.portfolio__image {
  margin: 0 auto;

  box-shadow: 2px 2px 1px 0 rgba(17, 17, 17, 0.5);
}

.portfolio__block:hover .portfolio__image {
  box-shadow: 10px 10px 10px 0 rgba(17, 17, 17, 0.5);

  transform: translate(-2px, -2px);
}

.portfolio__block:hover .portfolio__description {
  font-weight: 700;

  transform: translate(-2px, -2px);
}

@media (min-width: 700px) {
  .main-wrap {
    max-width: 800px;
  }
  .timer__time {
    margin-bottom: 10px;

    font-size: 40px;
    line-height: 60px;
  }

  .timer__text {
    font-size: 25px;
    line-height: 35px;
  }
}

.skills__container {
  display: flex;
  justify-content: space-between;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio__block {
  width: 300px;
}
