.footer {
  margin-top: auto;
  padding-top: 30px;

  color: var(--text-main-color);

  background-color: var(--bg-color);
}

.contacts {
  margin-bottom: 30px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.contacts__item {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.contacts__link {
  position: relative;

  margin-left: 30px;


  & svg {
    transition: 0.3s;

    fill: var(--text-main-color);
  }

  &:hover svg,
  &:focus svg {
    fill: var(--main-theme-color);
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.footer__credits {
  text-align: center;
}

.credits__title {
  font-weight: 700;

  cursor: pointer;
}

.credits__block {
  display: none;
}

.credits__link {
  color: var(--text-main-color);
  font-weight: 700;
}

.credits > input[type="checkbox"]:checked + .credits__block {
  display: block;
}
