<footer class="footer">
  <section class="contacts">
    <div class="main-wrap">
      <h2 class="visually-hidden" id="contacts">{{title}}</h2>
      <div class="contacts__container">
        <ul class="contacts__list">
          <li class="contacts__item"><a class="contacts__link contacts__link--vk" href="https://vk.com/id474742213" target="_blank">Вконтакте</a></li>
          <li class="contacts__item"><a class="contacts__link contacts__link--gh" href="https://github.com/EdMSL" target="_blank">GitHub</a></li>
          <li class="contacts__item"><a class="contacts__link contacts__link--li" href="https://www.linkedin.com/in/EdMSL" target="_blank">LinkedIn</a></li>
          <li class="contacts__item"><a class="contacts__link contacts__link--gm" href="mailto:eduard2011rus@gmail.com">Gmail</a></li>
          <li class="contacts__item"><a class="contacts__link contacts__link--sk" href="skype:ed_msl">Skype</a></li>
          <li class="contacts__item"><a class="contacts__link contacts__link--tg" href="tg://resolve?domain=Ed_MSL">Telegram</a></li>
        </ul>
        <div class="contacts__credits credits">
          <label class="credits__title" for="credits_checkbox">Благодарности</label>
          <input class="visually-hidden" type="checkbox" name="credits" id="credits_checkbox">
          <div class="credits__block">
            <div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            <div>Icons made by <a href="https://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>