<header class="header">
  <div class="header-top">
    <button class="header-top__theme-toggler">
      <span class="visually-hidden">Изменить тему</span>
    </button>
  </div>
  <nav class="main-nav main-nav--open main-nav--no-js">
    <button class="main-nav__toggle">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__link" href="#greeting">Приветствие</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#skills">Навыки</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#portfolio">Порфолио</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#contacts">Контакты</a>
      </li>
    </ul>
  </nav>
</header>