<header class="header header--open header--no-js">
  <div class="header-top">
    <button class="header-top__theme-toggler">
      <span class="visually-hidden">Изменить тему</span>
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" width="25px" height="25px"><path d="m256 95.816406c-88.324219 0-160.183594 71.859375-160.183594 160.183594s71.859375 160.183594 160.183594 160.183594 160.183594-71.859375 160.183594-160.183594-71.859375-160.183594-160.183594-160.183594zm0 290.53125c-71.871094 0-130.347656-58.472656-130.347656-130.347656 0-71.871094 58.476562-130.347656 130.347656-130.347656s130.347656 58.476562 130.347656 130.347656c0 71.875-58.476562 130.347656-130.347656 130.347656zm0 0"/><path d="m149.601562 256c0 58.671875 47.730469 106.402344 106.398438 106.402344h14.917969v-212.804688h-14.917969c-58.667969 0-106.398438 47.730469-106.398438 106.402344zm91.480469 75.105469c-35.097656-6.960938-61.644531-37.992188-61.644531-75.105469s26.546875-68.144531 61.644531-75.105469zm0 0"/><path d="m465.726562 297.730469 46.273438-41.730469-46.273438-41.730469 26.863282-56.277343-58.792969-20.777344 3.226563-62.238282-62.238282 3.226563-20.773437-58.792969-56.28125 26.863282-41.730469-46.273438-41.730469 46.273438-56.277343-26.863282-20.777344 58.792969-62.238282-3.226563 3.226563 62.238282-58.792969 20.773437 26.863282 56.28125-46.273438 41.730469 46.273438 41.730469-26.863282 56.277343 58.792969 20.777344-3.226563 62.238282 62.238282-3.226563 20.773437 58.792969 56.28125-26.863282 41.730469 46.273438 41.730469-46.273438 56.277343 26.863282 20.777344-58.792969 62.238282 3.226563-3.226563-62.238282 58.792969-20.773437zm-62.882812 56.347656 2.667969 51.433594-51.433594-2.667969-17.148437 48.53125-46.441407-22.164062-34.488281 38.238281-34.488281-38.238281-46.441407 22.164062-17.152343-48.53125-51.433594 2.667969 2.671875-51.433594-48.535156-17.148437 22.167968-46.441407-38.238281-34.488281 38.238281-34.488281-22.164062-46.441407 48.53125-17.148437-2.667969-51.4375 51.433594 2.671875 17.148437-48.535156 46.441407 22.167968 34.488281-38.238281 34.488281 38.238281 46.441407-22.164062 17.152343 48.53125 51.433594-2.667969-2.671875 51.433594 48.535156 17.148437-22.167968 46.441407 38.238281 34.488281-38.238281 34.488281 22.164062 46.441407zm0 0"/></svg>
    </button>
  </div>
  <nav class="main-nav {{!-- main-nav--open main-nav--no-js --}}">
    <button class="main-nav__toggle">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a class="main-nav__link" href="#greeting">Приветствие</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#portfolio">Порфолио</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#skills">Навыки</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__link" href="#contacts">Контакты</a>
      </li>
    </ul>
  </nav>
</header>