html {
  box-sizing: border-box;
  height: 100%;
}

body {
  @include main-text;
  @include reset-indents;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: $text-main-color;
  text-decoration: none;

  .body-wrap--dark__theme & {
    color: $text-secondary-color;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);

  clip-path: inset(100%);
}

.body-wrap--dark__theme {
  color: $text-secondary-color;

  background-color: $bg-dark-color;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrap {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 5px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    max-width: 800px;
    margin: 0 auto;
  }
}
